<style>
/*  @font-face {
    font-family: 'Conv_FUTURABI';
    src: url('/assets/futura-bt/FUTURABI.eot');
    src: local('☺'), url('/assets/futura-bt/FUTURABI.woff') format('woff'), url('/assets/futura-bt/FUTURABI.ttf') format('truetype'), url('/assets/futura-bt/FUTURABI.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }*/

  h1.mechio-logo {
    color: #E4240F;
    font-family: "futura-pt";
    font-style: italic;
  }
</style>

<script type="text/javascript" src="//use.typekit.net/wwf2cmo.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<h1 class="mechio-logo">MECH.IO</h1>